body {
  background-color: #f9eee2;
  width: 70%;
  margin: 0 auto;
  font-family: "Lora", sans-serif;
}
.container_pagina {
  display: flex;
}
.conteiner_cabecalio {
  display: flex;
  text-align: center;
  color: black;
  justify-content: center;
  align-items: center;
  background-color: #a0c55f;
  flex-direction: row-reverse;
}
.conteiner_cabecalio img {
  padding-left: 20px;
  width: 150px;
}
h1 {
  margin: 0 auto;
  border-left: 5px #67803d solid;
  font-size: 50px;
}
.left_conteiner {
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: #514442;
  width: 30%;
  padding: 10px;
}
.left_conteiner h2 {
  font-size: 16px;
  border-bottom: 2px solid #fff;
  padding-bottom: 5px;
}
.left_conteiner p li {
  font-size: 14px;
  text-decoration: none;
}
.contact_info {
  text-decoration: none;
  color: #fff;
}
.container_objetivo {
  background-color: #fff;
  padding-left: 20px;
}
.container_objetivo h2 {
  border-bottom: 2px solid #333;
  font-size: 30px;
}
.container_objetivo li {
  margin-top: 5px;
}
.container_objetivo_paragraf {
  font-size: 18px;
}
@media (max-width: 800px) {
  body {
    width: 100%;
    background-color: #fff;
  }
  .conteiner_cabecalio img {
    width: 100px;
    padding: 10px;
  }
  .left_conteiner ul {
    padding: 2px;
  }
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 16px;
  }
  p {
    font-size: 13px;
  }
}
